# Importing libraries

In [111]:
import pandas as pd
from scipy.stats import ttest_ind

# Importing datasets

In [112]:
df = pd.read_csv("cleaned_datafile.csv")

In [113]:
df.head()

,State-Code,Name,TRU,Age-Group,Tot-P,Tot-M,Tot-F,Persons-exactly-1,Males-exactly-1,Females-exactly-1,Persons-exactly-2,Males-exactly-2,Females-exactly-2,Persons-atleast-3,Males-atleast-3,Females-atleast-3
0,0,INDIA,Rural,5-9,93807612,48825259,44982353,84515361,44009879,40505482,8619753,4459004,4160749,672498,356376,316122
1,0,INDIA,Rural,10-14,96804494,50488158,46316336,75843895,39482164,36361731,17321726,9076421,8245305,3638873,1929573,1709300
2,0,INDIA,Rural,15-19,83902472,44570557,39331915,59354806,31228261,28126545,17987978,9726204,8261774,6559688,3616092,2943596
3,0,INDIA,Rural,20-24,73835046,38138662,35696384,51929482,25958518,25970964,15939543,8730193,7209350,5966021,3449951,2516070
4,0,INDIA,Rural,25-29,66068270,33375989,32692281,48015316,23114804,24900512,13483541,7492507,5991034,4569413,2768678,1800735

# Dropping irrelevant rows and columns

In [114]:
df = df[(df['Age-Group']=='Total')]
cols = ['State-Code','TRU','Tot-P','Persons-exactly-1','Persons-exactly-2','Persons-atleast-3']
df = df[cols]

In [115]:
df.head()

,State-Code,TRU,Tot-P,Persons-exactly-1,Persons-exactly-2,Persons-atleast-3
8,0,Rural,833748852,671107367,127257496,35383989
18,0,Total,1210854977,895866207,228979190,86009580
28,0,Urban,377106125,224758840,101721694,50625591
38,1,Rural,9108060,4940822,2908514,1258724
48,1,Total,12541302,6358112,4086970,2096220

In [116]:
df_rural = df[df['TRU']=='Rural'].reset_index(drop = True)
df_urban = df[df['TRU']=='Urban'].reset_index(drop = True)

## finding results for people who can speak exactly one language

In [117]:
result1 = pd.DataFrame(columns=['state-code','urban-percentage','rural-percentage','p-value'])
result1[['state-code']] = df_rural[['State-Code']]
result1['urban-percentage'] = (df_urban['Persons-exactly-1']/df_urban['Tot-P'])*100
result1['rural-percentage'] = (df_rural['Persons-exactly-1']/df_rural['Tot-P'])*100

In [118]:
r1=[]
r2=[]
for i in range(36):
    a = df_rural.iloc[i]['Persons-exactly-1']/df_urban.iloc[i]['Persons-exactly-1']
    b = df_rural.iloc[i]['Persons-exactly-2']/df_urban.iloc[i]['Persons-exactly-2']
    c = df_rural.iloc[i]['Persons-atleast-3']/df_urban.iloc[i]['Persons-atleast-3']
    d = df_rural.iloc[i]['Tot-P']/df_urban.iloc[i]['Tot-P']
    r1.append([a,b,c])
    r2.append([d,d,d])

In [119]:
p_value = []
for x,y in zip(r1,r2):
    p_value.append(ttest_ind(x,y,equal_var=False).pvalue)

In [120]:
result1['p-value'] = p_value

In [121]:
result1.head()

   state-code  urban-percentage  rural-percentage   p-value
0           0         59.600952         80.492749  0.497962
1           1         41.281389         54.246700  0.797784
2           2         62.067208         84.107674  0.489782
3           3         42.764108         59.161084  0.807854
4           4         44.644940         59.563313  0.869329

## finding results for people who can speak exactly two language

In [122]:
result2 = pd.DataFrame(columns=['state-code','urban-percentage','rural-percentage','p-value'])
result2[['state-code']] = df_rural[['State-Code']]
result2['urban-percentage'] = (df_urban['Persons-exactly-2']/df_urban['Tot-P'])*100
result2['rural-percentage'] = (df_rural['Persons-exactly-2']/df_rural['Tot-P'])*100
result2['p-value'] = p_value

In [123]:
result2.head()

   state-code  urban-percentage  rural-percentage   p-value
0           0         26.974288         15.263289  0.497962
1           1         34.324874         31.933408  0.797784
2           2         28.279346         11.345455  0.489782
3           3         22.626868         16.445332  0.807854
4           4         24.411204         25.421683  0.869329

## finding results for people who can speak atleast 3 language

In [124]:
result3 = pd.DataFrame(columns=['state-code','urban-percentage','rural-percentage','p-value'])
result3[['state-code']] = df_rural[['State-Code']]
result3['urban-percentage'] = (df_urban['Persons-atleast-3']/df_urban['Tot-P'])*100
result3['rural-percentage'] = (df_rural['Persons-atleast-3']/df_rural['Tot-P'])*100
result3['p-value'] = p_value

In [125]:
result3.head()

   state-code  urban-percentage  rural-percentage   p-value
0           0         13.424760          4.243963  0.497962
1           1         24.393736         13.819891  0.797784
2           2          9.653447          4.546871  0.489782
3           3         34.609025         24.393584  0.807854
4           4         30.943857         15.015005  0.869329

In [126]:
result1.to_csv("geography-india-a.csv",index = False)
result2.to_csv("geography-india-b.csv",index = False)
result3.to_csv("geography-india-c.csv",index = False)